* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Very-Dary-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}
body {
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--White);
}
.background_pc img:first-child {
    position: absolute;
    top: 0;
    left: 0;
}
.background_pc img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
}
.background_mobile {
    display: none;
}
main {
    width: 75vw;
    /* margin: auto 0; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
}
.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.box1 {
    width: 25em;
}
.box1 h1 {
    font-size: 3.5em;
    color: var(--Very-Dary-Magenta);
}
.box1 p {
    color: var(--Dark-Grayish-Magenta);
    line-height: 1.3em;
    margin-top: 2em;
}
.box2 > div {
    margin: 1.2em;
    background: var(--Light-Grayish-Magenta);
    padding: 1em;
    border-radius: 0.5em;
    width: 26em;
    display: flex;
}
.box2 img {
    margin: 0 0.1em;
}
.box2 p {
    color: var(--Very-Dary-Magenta);
    font-weight: 700;
    align-self: center;
    margin-left: 1.5em;
}
.box2 div:nth-child(2) {
    transform: translateX(2.5em);
}
.box2 div:nth-child(3) {
    transform: translateX(5em);
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 1em 0;
}
.card {
    background: var(--Very-Dary-Magenta);
    border-radius: 0.5em;
}
.card > div,
.card p {
    margin: 2em;
}
.card > div {
    display: flex;
}
.card div div div:first-child {
    color: var(--White);
    padding-bottom: 0.3em;
}
.card div div div:last-child {
    color: var(--Soft-Pink);
}
.card p {
    line-height: 1.3em;
    color: var(--White);
}
.card div div:last-child {
    align-self: center;
}
.card div div:last-child div{
    margin-left: 1.5em;
}
.profile {
    position: relative;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: hidden;
}
.profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom > .card:nth-child(2) {
    transform: translateY(1em);
}
.bottom > .card:nth-child(3) {
    transform: translateY(2em);
}

@media screen and (max-width: 560px) {
    .background_pc {
        display: none;
    }
    .background_mobile {
        display: block;
    }
    .background_mobile img:first-child {
        position: absolute;
        top: 0;
        left: 0;
    }
    .background_mobile img:last-child {
        position: absolute;
        right: 0;
        /* bottom: 0; */
    }
    main {
        /* gap: 1em; */
        margin: 5em 1em;
        width: 95vw;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box1 {
        width: 95%;
        /* justify-self: center; */
    }
    .box1 h1 {
        font-size: 2.5em;
        text-align: center;
    }
    .box2 {
        justify-self: center;
        width: 95%;
        margin: 0;
    }
    .box2 p {
        margin-left: 0;
    }
    .box2 > div {
        display: block;
        margin: 1em 0;
        width: 100%;
        justify-self: center;
    }
    .box2 div div,
    .box2 div p {
        padding: 0.3em;
    }
    .box2 div:nth-child(2) {
        transform: translateX(0);
    }
    .box2 div:nth-child(3) {
        transform: translateX(0);
    }

    .bottom {
        margin: 0;
    }
    .card {
        width: 95%;
        justify-self: center;
    }
    .card > div,
    .card p {
        margin: 1.5em;
    }
    .card p {
        text-align: start;
    }
    .profile {
        width: 2em;
        height: 2em;
    }
    .bottom > .card:nth-child(2) {
        transform: translateY(0);
    }
    .bottom > .card:nth-child(3) {
        transform: translateY(0);
    }
}
